@import 'colors';
@import 'breakpoints';
@import 'nav';
@import 'map';
@import 'reviewsContainer';
@import 'footer';

%flex-container {
	display: flex;
	flex-wrap: wrap;
}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  margin: 0;
  background-color: $body-background-color;
  position:relative;
}

ul,
li {
  font-size: calc(11px + 0.5vw);
}

a {
  color: $body-color;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $secondary-background-color;
  text-decoration: none;
}

section {
  display: block;
}

.maincontent-restaurant {
  min-height: 100%;
  @extend %flex-container;
}

.maincontent {
  min-height: 100%;
  @extend %flex-container;
  flex-direction: column-reverse;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: $secondary-background-color;
  align-items: center;
  display: flex;
  padding: 6px;
}

.filter-options h2 {
  display: none;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-size: calc(14px + 0.5vw);
  margin: 5px;
  padding: 0 2px;
  width: calc((100% - 15px)/2);
}

/* ====================== Restaurant Listing ====================== */
.restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 10px 6px;
  text-align: center;
  width: 100%;
  @extend %flex-container;
}

.restaurants-list li {
  border: 2px solid #ccc;
  margin: 6px;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  @extend %flex-container;
}

.restaurant-thumbimg {
  display: block;
  margin: 0;
  width: 33%;
  height: 100%;
}

.info-Div {
  width: 67%;
  padding: 6px;
  text-align: center;
}

.restaurants-list li h1 {
  color: $body-color;
  font-size: calc(14px + 0.1vw);
  font-weight: bold;
  margin: 0;
}

.restaurants-list p {
  padding: 4px 0;
  margin: 0;
  font-size: 14px;
}

.restaurants-list li a {
  background-color: $secondary-background-color;
  border-radius: 4px;
  color: $secondary-color;
  display: inline-block;
  font-size: 14px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

/* ====================== Restaurant Details ====================== */
.restaurant-name {
  color: $body-color;
  font-family: Arial,sans-serif;
  font-size: calc(14px + 0.5vw);
  margin: 10px 0;
  text-align: center;
}

.restaurant-img {
  width: 70%;
  border-radius: 16px;
  display: block;
  margin: auto;
}

.restaurant-address {
  font-size: calc(12px + 0.5vw);
  margin: 4px 0px;
  text-align: center;
}

.restaurant-cuisine {
  background-color: $secondary-background-color;
  color: $secondary-color;
  font-size: calc(12px + 0.5vw);
  letter-spacing: 6px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 70%;
  display: block;
  margin: 4px auto;
  border-radius: 16px;
}

.restaurant-container {
  padding: 10px;
  width: 100%;
}

.restaurant-hours td {
  color: #666;
  font-size: calc(10px + 0.5vw);
}

/*Used to hide label-From https://www.w3.org/WAI/tutorials/forms/labels/#note-on-hiding-elements*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media only screen and (min-width: $screen-md-min) {
  .maincontent {
    padding: 4px 10px;
  }

  .restaurants-list li {
    margin: 6px;
    width: calc((100% - 36px)/3);
  }

  .restaurant-thumbimg {
    width: 100%;
    height: 192px;
  }

  .info-Div {
    width: 100%;
  }

  .restaurants-list li h1 {
    font-size: 16px;
  }

  .restaurants-list p {
    font-size: 14px;
  }

  .restaurants-list li a {
    font-size: 14px;
  }

  .maincontent-restaurant {
    flex-direction: row-reverse;
    padding: 2px calc(2px + 3vw);
  }

  .restaurant-container {
    width: 50%;
  }

  .restaurant-cuisine {
    font-size: 15px;
  }

  .restaurant-address {
    font-size: 16px;
  }

  .restaurant-hours td {
    font-size: 14px;
  }
}

@media only screen and (min-width: $screen-lg-min) {
	%flex-container-lg {
		display: flex;
		flex-wrap: wrap;
	}

  .maincontent {
    flex-direction: row;
    height: calc(100vh - 128px);
    padding: 10px 16px;
  }

  #list {
    width: 36%;
    overflow-y: auto;
  }

  .filter-options {
    width: 100%;
    @extend %flex-container-lg;
    border-radius: 6px;
  }

  .filter-options h2 {
    display: block;
    width:100%;
    margin: 0 20px;
    color: $secondary-color;
    line-height: 1;
    text-align: center;
    font-size: 16px;
  }

  .filter-options select {
    width: calc((100% - 20px)/2);
    font-size: 14px;
  }

  .restaurants-list li {
    width: 100%;
    margin: 0;
  }

  .restaurant-thumbimg {
    width: 33%;
    height: auto;
    padding: 0;
    margin: auto;
    align-self: start;
  }

  .info-Div {
    width: 67%;
    padding: 8px 8px 0;
    @extend %flex-container-lg;
  }

  .restaurants-list li h1 {
    margin: 0 0 10px;
    width: 100%;
  }

  .restaurants-list p {
    width: 100%;
  }

  .restaurants-list li a {
    font-size: calc(14px + 0.05vw);
    align-self: flex-end;
    margin: auto;
  }

  .restaurant-container {
    width: 40%;
  }
}

@media only screen and (min-width: $screen-xl-min) {
  .maincontent {
    padding: 12px 28px;
    height: calc(100vh - 132px);
  }
}

@media only screen and (min-width: $screen-xxl-min) {
  .maincontent {
    padding: 20px 32px;
    max-width: 1650px;
    margin: auto;
    height: calc(100vh - 142px);
  }

  #list {
    width: 25%;
  }
}